<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelli Pizzaria - Home</title>

    <link rel="stylesheet" href="../Styles/home.css">

    <script src="../Scripts/script.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="containerPrincipal">
        <div class="containerHeader">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <span class="textoIntelli">Intelli Pizzaria</span>
                    <img class="logoIntelli" src="../Images/logoPizza.png" alt="logoIntelli">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a href="#divCombos">
                                    Combos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#divPizzas">
                                    Pizzas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#divBebidas">
                                    Bebidas
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div id="divCombos">
            <div class="faixa">
                Combos
            </div>
            <div class="divImgs">
                <div class="card" style="width: 18rem;">
                    <img src="../Images/pizzaMussarela.jpg" class="card-img-top" alt="Pizza Doce">
                    <div class="card-body">
                        <h5 class="card-title">1 Grande + 1 Pequena doce</h5>
                        <p class="card-text">1 pizza grande sabor marguerita + 1 pizza pequena sabor chocolate preto</p>
                        <p class="textoValor">R$ 65,00</p>
                        <a href="/pedido" class="botaoComprar" onclick="comprarCombo1()">Comprar</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../Images/pizzaFrangoCatupiry.webp" class="card-img-top" alt="Pizza Doce">
                    <div class="card-body">
                        <h5 class="card-title">1 Média + 1 Refri 600ml</h5>
                        <p class="card-text">1 pizza média sabor brócolis especial + 1 Coca-Cola 600ml</p>
                        <p class="textoValor">R$ 40,00</p>
                        <a href="/pedido" class="botaoComprar" onclick="comprarCombo2()">Comprar</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../Images/pizzaCalabresa.webp" class="card-img-top" alt="Pizza Doce">
                    <div class="card-body">
                        <h5 class="card-title">2 Grandes + 1 Refri 2L</h5>
                        <p class="card-text">2 pizzas grandes sabor calabresa e portuguesa + 1 Guaraná 2L</p>
                        <p class="textoValor">R$ 85,00</p>
                        <a href="/pedido" class="botaoComprar" onclick="comprarCombo3()">Comprar</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../Images/pizzaMarguerita.png" class="card-img-top" alt="Pizza Doce">
                    <div class="card-body">
                        <h5 class="card-title">1 Grande + 1 Média</h5>
                        <p class="card-text">1 pizza grande sabor marguerita + 1 pizza média sabor calabresa</p>
                        <p class="textoValor">R$ 75,00</p>
                        <a href="/pedido" class="botaoComprar" onclick="comprarCombo4()">Comprar</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="divPizzas">
            <div class="faixa">
                Pizzas
            </div>
            <div class="divImgs">
                <div class="card" style="width: 18rem;">
                    <img src="../Images/pizzaGrande.jpg" class="card-img-top" alt="Pizza Doce">
                    <div class="card-body">
                        <h5 class="card-title">Pizza Grande</h5>
                        <p class="card-text">Até 4 Sabores - 12 Fatias</p>
                        <p class="textoValor">R$ 50,00 </p>
                        <a href="/pedido" class="botaoComprar" onclick="comprarPizza(4)">Comprar</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../Images/pizzaMedia.jpg" class="card-img-top" alt="Pizza Doce">
                    <div class="card-body">
                        <h5 class="card-title">Pizza Média</h5>
                        <p class="card-text">Até 3 Sabores - 9 Fatias</p>
                        <p class="textoValor">R$ 40,00</p>
                        <a href="/pedido" class="botaoComprar" onclick="comprarPizza(3)">Comprar</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../Images/pizzaPequena.webp" class="card-img-top" alt="Pizza Doce">
                    <div class="card-body">
                        <h5 class="card-title">Pizza Pequena</h5>
                        <p class="card-text">Até 2 Sabores - 6 Fatias</p>
                        <p class="textoValor">R$ 30,00</p>
                        <a href="/pedido" class="botaoComprar" onclick="comprarPizza(2)">Comprar</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="../Images/pizzaBroto.jpg" class="card-img-top" alt="Pizza Doce">
                    <div class="card-body">
                        <h5 class="card-title">Pizza Broto</h5>
                        <p class="card-text">1 Sabor - 4 Fatias</p>
                        <p class="textoValor">R$ 20,00</p>
                        <a href="/pedido" class="botaoComprar" onclick="comprarPizza(1)">Comprar</a>
                    </div>
                </div>
            </div>

            <div id="divBebidas">
                <div class="faixa">
                    Bebidas
                </div>
                <div class="divImgs">
                    <div class="card" style="width: 18rem;">
                        <img src="../Images/fanta.jpg" class="card-img-top imgBebidas" alt="Pizza Doce">
                        <div class="card-body">
                            <h5 class="card-title">Fanta</h5>
                            <p class="card-text">1,5L</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../Images/cocaCola.jpg" class="card-img-top imgBebidas" alt="Pizza Doce">
                        <div class="card-body">
                            <h5 class="card-title">Coca-Cola</h5>
                            <p class="card-text">2L</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../Images/guarana.jpg" class="card-img-top imgBebidas" alt="Pizza Doce">
                        <div class="card-body">
                            <h5 class="card-title">Guaraná Antarctica</h5>
                            <p class="card-text">1,5L</p>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img src="../Images/sprite.jpg" class="card-img-top imgBebidas" alt="Pizza Doce">
                        <div class="card-body">
                            <h5 class="card-title">Sprite</h5>
                            <p class="card-text">1L</p>
                        </div>
                    </div>
                </div>

            </div>
</body>

</html>