<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intelli Pizzaria - Pedido</title>

    <link rel="stylesheet" href="../Styles/pedido.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="containerPrincipal">
        <div class="containerHeader">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <span onclick="limpar()" class="textoIntelli">Intelli Pizzaria</span>
                    <img onclick="limpar()" class="logoIntelli" src="../Images/logoPizza.png" alt="logoIntelli">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a onclick="limpar()" href="/">
                                    Home
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="accordion" id="accordionExample">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    <h2>Borda</h2>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="containerTipoBorda">
                        <h4>Selecione o tipo da borda: </h4>
                        <div class="borda1">
                            <input type="radio" name="borda" id="borda" value="Sem Borda">
                            <span class="textoBorda">Sem Borda - R$0,00</span>
                        </div>

                        <div class="borda1">
                            <input type="radio" name="borda" id="borda" value="Catupiry">
                            <span class="textoBorda">Borda de Catupiry - R$2,00</span>
                        </div>

                        <div class="borda1">
                            <input type="radio" name="borda" id="borda" value="Chocolate Preto">
                            <span class="textoBorda">Borda de Chocolate Preto - R$3,00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h2>Sabores</h2>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="divSabores">
                        <div class="qtdSabor">
                            <span class="pointer" hidden="true" onclick="rmvSabor('Calabresa', 0, 1)">-</span>
                            <span id="sabor1">0</span>
                            <span class="pointer" onclick="addSabor('Calabresa', 0, 1)">+</span>
                        </div>
                        <p class="nomePizza">Calabresa</p>
                        <p class="descricaoPizza">Mussarela, calabresa e orégano.</p>
                        <p class="precoPizza">+ R$ 5,00</p>
                    </div>
                    <hr>
                    <div class="divSabores">
                        <div class="qtdSabor">
                            <span class="pointer" hidden="true" onclick="rmvSabor('Marguerita', 2, 2)">-</span>
                            <span id="sabor2">0</span>
                            <span class="pointer" onclick="addSabor('Marguerita', 2, 2)">+</span>
                        </div>
                        <p class="nomePizza">Marguerita</p>
                        <p class="descricaoPizza">Mussarela, tomate, manjericão e orégano.</p>
                        <p class="precoPizza">+ R$ 5,00</p>
                    </div>
                    <hr>
                    <div class="divSabores">
                        <div class="qtdSabor">
                            <span class="pointer" hidden="true" onclick="rmvSabor('Brócolis Especial', 4, 3)">-</span>
                            <span id="sabor3">0</span>
                            <span class="pointer" onclick="addSabor('Brócolis Especial', 4, 3)">+</span>
                        </div>
                        <p class="nomePizza">Brócolis Especial</p>
                        <p class="descricaoPizza">Mussarela, brócolis, bacon, manjericão e orégano.</p>
                        <p class="precoPizza">+ R$ 5,00</p>
                    </div>
                    <hr>
                    <div class="divSabores">
                        <div class="qtdSabor">
                            <span class="pointer" hidden="true" onclick="rmvSabor('Portuguesa', 6, 4)">-</span>
                            <span id="sabor4">0</span>
                            <span class="pointer" onclick="addSabor('Portuguesa', 6, 4)">+</span>
                        </div>
                        <p class="nomePizza">Portuguesa</p>
                        <p class="descricaoPizza">Mussarela, ovo, tomate, cebola, calabresa, bacon e orégano.</p>
                        <p class="precoPizza">+ R$ 5,00</p>
                    </div>
                    <hr>
                    <div class="divSabores">
                        <div class="qtdSabor">
                            <span class="pointer" hidden="true" onclick="rmvSabor('Chocolate Preto', 8, 5)">-</span>
                            <span id="sabor5">0</span>
                            <span class="pointer" onclick="addSabor('Chocolate Preto', 8, 5)">+</span>
                        </div>
                        <p class="nomePizza">Chocolate Preto</p>
                        <p class="descricaoPizza">Mussarela e chocolate preto.</p>
                        <p class="precoPizza">+ R$ 5,00</p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h2>Bebida</h2>
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="containerBebida">
                        <h4>Selecione a bebida: </h4>
                        <div class="bebida1">
                            <input type="radio" name="bebida" id="bebida" value="Coca-Cola">
                            <span class="textoBebida">Coca-Cola 2L - R$8,00</span>
                        </div>

                        <div class="bebida1">
                            <input type="radio" name="bebida" id="bebida" value="Sprite">
                            <span class="textoBebida">Sprite 1L - R$6,00</span>
                        </div>

                        <div class="bebida1">
                            <input type="radio" name="bebida" id="bebida" value="Guaraná">
                            <span class="textoBebida">Guaraná 1,5L - R$7,00</span>
                        </div>

                        <div class="bebida1">
                            <input type="radio" name="bebida" id="bebida" value="Fanta">
                            <span class="textoBebida">Fanta 1,5L - R$7,00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <h2>Informações Pessoais</h2>
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="containerCliente">
                        <h4>Suas informações: </h4>
                        <form>
                            <label for="inputNome">Nome Completo</label>
                            <input id="inputNome" type="text" placeholder="Ex: Matheus Franzener Hohmann">
                            <label for="inputEmail">E-mail</label>
                            <input type="email" id="inputEmail" placeholder="Ex: matheus@gmail.com">
                            <label for="inputEndereco">Endereço</label>
                            <input type="text" id="inputEndereco" placeholder="Ex: Bairro, Rua, Nº da Casa, Complemento">
                            <label for="inputTelefone">Telefone</label>
                            <input type="text" maxlength="9" id="inputTelefone" placeholder="Ex: 998765432"
                                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');">
                            </form>
                            <a  class="btnPedido" onclick="fazerPedido()">Fazer Pedido</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../Scripts/pedido.js"></script>
</body>

</html>