body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{
    margin-left: 2%;
}

li{
    color: #FFFFFF;
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
}

a{
    text-decoration: none !important;
    color: #FFFFFF !important;
}

.containerPrincipal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.containerHeader{
    background-color: #B30000;
    color: #FFFFFF;
}

.textoIntelli{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.logoIntelli{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

#divCombos, #divPizzas, #divBebidas{
    margin: 10px;
}

.faixa{
    background-color: #B30000;
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.divImgs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    margin: 10px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.card-img-top{
    height: 200px;
}

.imgBebidas{
    object-fit: contain;
    height: 200px;
}

.botaoComprar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 18px;
    color: #11472C !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);;
    background-color: #FFBF00;
    border-radius: 5px;
}

.botaoComprar:hover {
    color: #11472C !important;
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
}

.textoValor{
    font-weight: 900;
    opacity: 0.8;
    font-size: 25px;
    color: #B30000;
}

.textoValor:hover{
    opacity: 1;
    font-weight: 900;
}