body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{
    margin-left: 2%;
}

li{
    color: #FFFFFF;
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
}

a{
    text-decoration: none !important;
    color: #FFFFFF !important;
}

hr{
    padding: 0;
    margin: 0;
}

input[type=radio] {
    border: 0px;
    width: 20px;
    height: 16px;
}

.containerPrincipal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.containerHeader{
    background-color: #B30000;
    color: #FFFFFF;
}

.textoIntelli{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.logoIntelli{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
}

.containerTipoBorda{
    width: 100%;
}

.borda1{
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 15px;
    border-bottom: solid 1px rgb(172, 168, 168);
}

.borda1:hover{
    background-color: rgb(245, 245, 245);
}

.textoBorda{
    margin-left: 5px;
    font-size: 18px;
}

.nomePizza{
    font-size: 20px;
}

.descricaoPizza{
    font-size: 14px;
}

.precoPizza{
    font-size: 20px;
    color: #B30000;
}

.containerBebida{
    width: 100%;
}

.bebida1{
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 15px;
    border-bottom: solid 1px rgb(172, 168, 168);
}

.bebida1:hover{
    background-color: rgb(245, 245, 245);
}

.textoBebida{
    margin-left: 5px;
    font-size: 18px;
}

.qtdSabor{
    color: #B30000;
    font-size: 30px;
    margin: 40px 100px 0 0;
    float: right;
}

.pointer:hover{
    cursor: pointer;
}

.form-group{
    margin: 15px 0;
}